body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #13212d;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
label {
    display: block;
    margin-bottom: 8px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input.error {
    border-color: red;
}
label.error {
    color: red;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#hit-multiplier {
    color: #0c0;
    font-size: 24px;
    font-weight: bold;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mines-layout-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.result-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.result-container table {
    margin-top: 20px;
}

/* .mines-layout-img {
} */
.mines-layout-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mines-image-container {
    position: relative;
    width: 200px;
    height: 200px;
}
.mines-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
.mines-layout-img-bg {
    z-index: 0;
}
.mines-layout-img-mines {
    z-index: 10;
}
.mines-layout-img-blanks {
    z-index: 50;
}
.mines-layout-img-picks {
    z-index: 90;
}
.hit-multiplier-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.error-message {
    color: red;
    font-size: 0.9em;
}
.not-visible {
    display: none;
}
